.nav-icms {
  color: darkgray;
}
.nav-icms-content {
  border-left: 1.5px solid lightgray;
  border-right: 1.5px solid lightgray;
  border-bottom: 1.5px solid lightgray;

  background: transparent;
  position: relative;
  top: -8px;
}
