<div class="card p-4 mt-4 mb-5">
  <ul ngbNav #nav="ngbNav" [(activeId)]="navAtivo" class="nav-tabs">
    <li [ngbNavItem]="1" class="">
      <button class="nav-icms fs-6" ngbNavLink>ICMS ENTRADAS</button>
      <ng-template ngbNavContent>
        <div class="bg-white nav-icms-content p-3">
          <app-auditor-icms-entradas></app-auditor-icms-entradas>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <button class="nav-icms fs-6" ngbNavLink>ICMS SAÍDAS</button>
      <ng-template ngbNavContent>
        <div class="bg-white nav-icms-content p-3">
          <app-auditor-icms-saidas></app-auditor-icms-saidas>
        </div>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
